body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #0080ff;
    padding: 5px 7px;
    padding-bottom: 52px;
}

.header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header a:hover {
    float: left;
    display: block;
    color: black;
    background: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

img.header-logo {
    display: block;
    float: left;
    width: 249px;
    height: auto;
}

main {
    box-sizing: border-box;
    margin-left: 7%;
    margin-right: 7%;
}

.thumb {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.homepage-link {
    text-align: center;
    color:blue
}

.homepage-link:hover {
    text-align: center;
    color:red
}