@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
@keyframes header-button {
  0% { background: rgba(0,0,0,0); box-shadow: none; }
  100% { background: #ae0202; box-shadow: 2px 2px 2px #9c0101; }
}

@keyframes rainbow-color {
    0% {color: red;}
    12.5% {color: orange;}
    25% {color: yellow;}
    37.5% {color: green;}
    50% {color: cyan;}
    62.5% {color: lightblue;}
    75% {color: magenta;}
    87.5% {color: purple;}
    100% {color: red;}
}

main a {
    animation: rainbow-color linear 10s infinite;
}
.content {
    text-align: center;
}

.header {
    background: #c30101;
    padding: 7px;
    height: 48px;
}

.header a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header a:hover {
    border-radius: 5px;
    background: #ae0202;
    box-shadow: 2px 2px 2px #9c0101;
    animation: header-button 0.5s;
}

img.header-logo {
    display: block;
    float: left;
    width: 48px;
    height: 48px;
}

main {
    box-sizing: border-box;
    padding: 10px;
}

.thumb {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.screenshot {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

main > div {
    text-align: center;
}
.text-muted {
    color: rgba(33, 37, 41, 0.74);
}
#content-box {
    padding: 5px;
}
.get-button {
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    background: linear-gradient(rgb(29, 203, 29), rgb(1, 151, 1));
    color: white;
    animation: none;
}
.get-button:hover {
    background: linear-gradient(rgb(33, 225, 33), rgb(2, 187, 2));
}
.get-button:active {
    background: linear-gradient(rgb(28, 188, 28), rgb(1, 127, 1));
}
.author-name { 
    font-style: italic;
}