@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
@keyframes fadeIn {
  0% { background: rgba(0,0,0,0); box-shadow: none; }
  100% { background: white; box-shadow: 2px 2px 2px #d4d4d4; }
}

@-moz-keyframes fadeIn {
  0% { background: rgba(0,0,0,0); box-shadow: none; }
  100% { background: white; box-shadow: 2px 2px 2px #d4d4d4; }
}

@-webkit-keyframes fadeIn {
  0% { background: rgba(0,0,0,0); box-shadow: none; }
  100% { background: white; box-shadow: 2px 2px 2px #d4d4d4; }
}

@-o-keyframes fadeIn {
  0% { background: rgba(0,0,0,0); box-shadow: none; }
  100% { background: white; box-shadow: 2px 2px 2px #d4d4d4; }
}

@-ms-keyframes fadeIn {
  0% { background: rgba(0,0,0,0); box-shadow: none; }
  100% { background: white; box-shadow: 2px 2px 2px #d4d4d4; }
}

@keyframes rainbow-color {
    0% {color: red;}
    12.5% {color: orange;}
    25% {color: yellow;}
    37.5% {color: green;}
    50% {color: cyan;}
    62.5% {color: lightblue;}
    75% {color: magenta;}
    87.5% {color: purple;}
    100% {color: red;}
}

a {
    animation: rainbow-color linear 10s infinite;
}
.content {
    text-align: center;
}

.header {
    background: #F55050;
    padding: 7px;
    height: 48px;
}

.header a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header a:hover {
    border-radius: 5px;
    background: white;
    color: black;
    animation: fadeIn 0.5s;
   -webkit-animation: fadeIn 0.5s;
   -moz-animation: fadeIn 0.5s;
   -o-animation: fadeIn 0.5s;
   -ms-animation: fadeIn 0.5s;
}

img.header-logo {
    display: block;
    float: left;
    width: 48px;
    height: 48px;
}

main {
    box-sizing: border-box;
    margin-left: 7%;
    margin-right: 7%;
}

.thumb {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.screenshot {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.homepage-link {
    text-align: center;
    color:blue
}

.homepage-link:hover {
    text-align: center;
    color:red
}

main > div {
    text-align: center;
}
.text-muted {
    color: rgba(33, 37, 41, 0.74);
}
#content-box {
    padding: 5px;
}
